.dropDown {
  width: 100%;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 34px;
  background: #F7F7F7;
}

#dropTitle {
  height: 52px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #FF6060;
}



.dropTitle{
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
  align-items:center ;
  
  
}
.dropDownBtn{
  padding-left: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.dropDownContent{
  padding:20px 10px 20px 20px;
  font-weight: 400;
  color: #FF6060;
}

.dropDownEquip{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-weight: 400;
  color: #FF6060;
}

.arrowDrop{
  text-align: center;
  align-items: center;
  height: 15px;
  padding-right: 20px;
}

.arrow.true{
justify-content: start;
transform:rotateX(180deg);
}


@media screen and (max-width: 968px) {
  .dropDown {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
}

@media screen and (max-width: 968px) {
#dropTitle {
  height: 30px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #FF6060;
}
.dropDown {
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 20px;
  line-height: 19px;
}

.dropDownBtn{
  padding-left: 10px;
}

.arrowDrop{
  height: 9px;
  padding-right: 10px;
}

.dropDownContent{
  padding:15px 6px 15px 10px;
  font-weight: 400;
  color: #FF6060;
}
}