.rating{
    display: flex;
    gap: 10px;
}

.rating__star{
    height: 30px;
}


@media screen and (max-width: 768px) {
    .rating{
        gap: 5px;
    }
    
    .rating__star{
        height: 15px;
    }

}