.tag__container {
  display: inline-flex;
  padding: 4px 30px;
  background: #ff6060;
  border-radius: 10px;
}

.tag__content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .tag__container {
    padding: 2px 0px;
    border-radius: 5px;
  }

  .tag__content {
    font-size: 10px;
    line-height: 14px;
    padding: 0 15px;
  }
}
