footer {
  height: 210px;
  width: 100%;
  display: flex;
  background-color: black;
  flex-direction: column;
  text-align: center;
}

.footerContainer {
  padding: 60px;
}

.logoFooter {
  height: 36px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    padding: 60px;
  }

  .logoFooter {
    height: 36px;
    margin-bottom: 25px;
  }

  .textFooter img {
    height: 12px;
  }
}
