header {
  display: inline-flex;
  padding: 40px 100px 68px 100px;
}

.logo {
  height: 68px;
}

nav {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  gap: 25px;
}

.linkOut {
  color: #ff6060;
  margin: auto 0px;
  text-decoration: none;
}
.linkOut:hover {
  border-bottom: 2px solid #ff6060;
}
