.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__lodgementList {
  max-width: 100%;
  padding: 56px 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  flex-direction: row;
}

.home__link {
  display: flex;
  border-radius: 20px;
  width: 340px;
}


@media screen and (max-width: 1420px) {

  .home__lodgementList {
    flex-direction: column;
  }
  
  .home__link {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    height: 340px;
  }
}

@media screen and (max-width: 968px){
  .home__lodgementList {
    padding: 30px;
    border-radius: 15px;
    gap: 40px;
   
  }
}


@media screen and (max-width: 768px) {
  .home__lodgementList {
  padding: 0;
  background-color: transparent;
}
.home__link {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  height: 225px;
}

}