.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.liste-logements {
  max-width: 100%;
  padding: 56px 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 60px;
  flex-direction: row;
  display: flex;
}

.linkLogement {
  display: flex;
  border-radius: 20px;
  width: 340px;
}
