.hostPicture {
  border-radius: 50%;
  object-fit: cover;
  height: 64px;
}

.hostName{
  display: flex;
  padding-right: 10px;
width: 80px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: right;
color: #FF6060;
}

.host {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
