.slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 800px;
  height: 300px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.leftArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  height: 3vh;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  width: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.rightArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  height: 3vh;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: rgb(0, 0, 0);
}
