.slider {
  position: relative;
  width: 100%;
  position: relative;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}

.image{
  height: 415px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.leftArrow{
  height: 79px;
  position:absolute;
  top:40%;
  left:25px;
  display:flex;
  flex-direction: row;
}


.rightArrow{
  height: 79px;
  position:absolute;
  top:40%;
  right:25px;
  display:flex;
  flex-direction: row;
}

@media screen and (max-width: 968px) {
  .slider {
    height: 225px;
    border-radius: 10px;
  }

  .image{
    height: 225px;
    border-radius: 10px;
  }

}

@media screen and (max-width: 768px) {

  .leftArrow{
    height: 20px; 
    top:45%;
    left:8px;
  }

  .rightArrow{
    height: 20px;   
    top:45%;
    right:8px;
  }

 
}