.slider {
  position: relative;
  width: 100%;
  position: relative;
  height: 450px;
  border-radius: 25px;
  overflow: hidden;
}

.image{
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.leftArrow{
  position:absolute;
  top:40%;
  left:25px;
  display:flex;
  flex-direction: row;
}


.rightArrow{
  position:absolute;
  top:40%;
  right:25px;
  display:flex;
  flex-direction: row;
}
