.lodgement__infos {
  padding: 24px 0 0 0;
}

.lodgement__title {
  margin: 0px;
  padding-right: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  display: flex;
  flex-direction: row;
  color: #ff6060;
}

.lodgement__location {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  color: #ff6060;
}

.lodgement__host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lodgement__host_stars {
  display: flex;
  flex-direction: column;
}

.lodgement__tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px 0 24px 0;
}

.lodgement__dropDown {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding-top: 30px;
}

.lodgement__description,
.lodgement__equipment {
  width: 100%;
}

@media screen and (max-width: 968px) {
  .lodgement__dropDown {
    padding-top: 16.5px;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .lodgement__title {
    font-size: 18px;
    line-height: 26px;
  }

  .lodgement__location {
    font-size: 14px;
    line-height: 20px;
  }

  .lodgement__host {
    flex-direction: column;
  }

  .lodgement__host_stars {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .lodgement__tags {
    padding: 10px 0 16.5px 0;
    width: 100%;
  }
}
