.cardInfos {
  padding: 24px 0 0 0;
}

.cardContentTiltle {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  display: flex;
  flex-direction: row;
  color: #ff6060;
}

.cardContentLocation {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  color: #ff6060;
}

.hostInfos {
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
  
}

.tagsLodgement {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px 0 24px 0;
}

.tagsStars{
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
  align-items:baseline;
}

.dropDownLodgement{
display: flex;
justify-content: space-between;
gap: 100px;
}

.dropDownDescri,.dropDownEquipment{
  width: 100%;
}

@media screen and (max-width: 968px) {
  
  .dropDownLodgement{
    padding-top: 20px;
    flex-direction: column;
    gap: 15px;
  }
  
}

@media screen and (max-width: 968px) {
  .cardContentTiltle {
    font-size: 18px;
    line-height: 26px;
  }

  .cardContentLocation {

    font-size: 14px;
    line-height: 20px;
  }
}