footer {
  height: 210px;
  width: 100%;
  display: flex;
  background-color: black;
  flex-direction: column;
  text-align: center;
}

.footer__container {
  padding: 60px;
}

.footer__logo {
  height: 36px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 60px;
  }

  .footer__logo {
    height: 36px;
    margin-bottom: 25px;
  }

  .footer__imgText img {
    height: 12px;
  }
}
