.banner {
  position: relative;
  height: 223px;
  margin-bottom: 43px;
}

.banner__img {
  position: absolute;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner__darkGradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 25px;
  height: 100%;
  opacity: 0.3;
}

.banner__text {
  color: #ffffff;
  font-size: 48px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 968px) {
  .banner {
    position: relative;
    height: 160px;
    margin-bottom: 43px;
  }
 
  .banner__text {
    font-size: 36px;
    left: 35%;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    position: relative;
    height: 111px;
    margin-bottom: 43px;
  }
  
  .banner__text {
    font-size: 24px;
    left: 35%;
  }

  .banner__img {
    border-radius: 10px;
  }

  .bannerDarkGradient {
    border-radius: 10px;
  }
  
}