.banner {
  position: relative;
  height: 223px;
  margin-bottom: 43px;
}

.bannerImg {
  position: absolute;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bannerDarkGradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 25px;
  height: 100%;
  opacity: 0.3;
}

.bannerText {
  color: #ffffff;
  font-size: 48px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
