.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title404 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 411px;
  margin: 0;
  color: #ff6060;
}

.text404{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 51px;
color: #FF6060;
padding-bottom: 180px;

}

.link404{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-decoration-line: underline;
color: #FF6060;
}